*.iml
.idea/
target/
.editorconfig
.DS_Store
run/
dependency-reduced-pom.xml
jqassistant/store
jqassistant/certificates
jqassistant/logs
jqassistant/store_lock

run-csharp-plugin-*.sh

# Test C# Project
/src/test/resources/scanner/test-csharp-project/CSharpJqAssistantTestProject/Project 1/bin/
/src/test/resources/scanner/test-csharp-project/CSharpJqAssistantTestProject/Project 1/obj/
/src/test/resources/scanner/test-csharp-project/CSharpJqAssistantTestProject/.vs

ignore.sh